In [79]:
#import nessary libraries

from bs4 import BeautifulSoup as bs
import requests       
import smtplib        #sending emails
import time
import datetime
import csv
import pandas as pd    #making Dataframes

#### Method 01 for load data into csv

In [97]:
#initiate a csv file to load the scraped data
headers=['Title','Star','Price','Availability']
with open('books_Web_Scraper_Dataset.csv','w',newline='',encoding='UTF8') as f:
    writer=csv.writer(f)
    writer.writerow(headers)

In [98]:
#connecting to the website and scrape all the data from the website and take into local
books=[]
for i in range(1,51):
    url=f'https://books.toscrape.com/catalogue/page-{i}.html'
    # print(url)

    page=requests.get(url)
    soup1=bs(page.content,"html.parser")   #pulling all the html from the website
    
    #find searching under tag name of ol(order_list) and find by article with required class
    order_list=soup1.find('ol')
    articles=order_list.find_all('article',class_='product_pod')

    
    
    #retrieve all the titles inside the articles and taking the all titles in the first page
    for article in articles:        #looping through each articles
        image=article.find('img')       #find all img tags
        title=image.attrs['alt']        #filter out the title with it attributes
        star=article.find('p')          #star ratings are under p tags we can straight scrape it
        star=star['class'][1]           #to retrieve only rating value we need to get 1 index values
        price=article.find('p',class_='price_color').text     #finding the price values, those are under p tags with class of price_color and filter it's text value
        price=float(price[1:])             #text values are return with strings. we need to change it's type as float to store in csv
        availability=article.find('p',class_='instock availability').text
        availability=availability.strip()    #remove unnessary spaces 

        books.append([title,star,price,availability])
    
        data=[title,star,price,availability]

        with open('books_Web_Scraper_Dataset.csv','a+',newline='',encoding='UTF8') as f:
            writer=csv.writer(f)
            writer.writerow(data)

#### Method 2 for load data into csv

In [105]:
#making Dataframes

df=pd.DataFrame(books,columns=headers)

In [108]:
df.head()

                                   Title   Star  Price Availability
0                   A Light in the Attic  Three  51.77     In stock
1                     Tipping the Velvet    One  53.74     In stock
2                             Soumission    One  50.10     In stock
3                          Sharp Objects   Four  47.82     In stock
4  Sapiens: A Brief History of Humankind   Five  54.23     In stock

In [107]:
# convert dataframe into csv file format

df.to_csv('books.csv')